* {
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  overflow: hidden;
}

#home_image {
  height: 1000px;
  width: 100%;
  overflow: hidden;
}

#home_image img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  opacity: 0.8;
}